<!-- Details.cshtml in LibraryManagement/Views/Author folder-->
@model List<LibraryManagement.ViewModels.AuthorViewModel>

<h1>Author</h1>
<a href="@Url.Action("Create", "Author")" class="btn btn-primary">Create Author</a>
<table class="table">
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.Name</td>
                <td>
                    <form method="post" asp-action="Delete" asp-controller="Author">
                        <input type="hidden" name="authorId" value="@author.AuthorId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
